
@{
    ViewData["Title"] = "IndexAr";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

<section class="slider-two">
	<div class="single-item-carousel owl-carousel owl-theme">

		<!-- Slide -->
		<div class="slide">
			<div class="slider-two_image-layer" style="background-image:url('/Web/images/main-slider/2.jpg')"></div>
			<div class="slider-two_pattern-layer" style="background-image:url('/Web/images/main-slider/pattern-1.png')"></div>
			<div class="auto-container">

				<!-- Content Column -->
				<div class="slider-two-content">
					<div class="slider-two_inner">
						<div class="slider-two_title">We are Business Solution</div>
						<h1 class="slider-two_heading">Prosper in this volatile <br> market funding.</h1>
						<div class="slider-two_text">We place you at the centre of international networks to <br> advance your strategic interests</div>
						<!-- Button Box -->
						<div class="slider-two_button-box">
							<a class="btn-style-two theme-btn btn-item" href="#">
								<div class="btn-wrap">
									<span class="text-one">Our Team <i class="fa-solid fa-arrow-right fa-fw"></i></span>
									<span class="text-two">Our Team <i class="fa-solid fa-arrow-right fa-fw"></i></span>
								</div>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Slide -->
		<div class="slide">
			<div class="slider-two_image-layer" style="background-image:url('/Web/images/main-slider/2.jpg')"></div>
			<div class="slider-two_pattern-layer" style="background-image:url('/Web/images/main-slider/pattern-1.png')"></div>
			<div class="auto-container">

				<!-- Content Column -->
				<div class="slider-two-content">
					<div class="slider-two_inner">
						<div class="slider-two_title">We are Business Solution</div>
						<h1 class="slider-two_heading">Prosper in this volatile <br> market funding.</h1>
						<div class="slider-two_text">We place you at the centre of international networks to <br> advance your strategic interests</div>
						<!-- Button Box -->
						<div class="slider-two_button-box">
							<a class="btn-style-two theme-btn btn-item" href="#">
								<div class="btn-wrap">
									<span class="text-one">Our Team <i class="fa-solid fa-arrow-right fa-fw"></i></span>
									<span class="text-two">Our Team <i class="fa-solid fa-arrow-right fa-fw"></i></span>
								</div>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Slide -->
		<div class="slide">
			<div class="slider-two_image-layer" style="background-image:url('/Web/images/main-slider/2.jpg')"></div>
			<div class="slider-two_pattern-layer" style="background-image:url('/Web/images/main-slider/pattern-1.png')"></div>
			<div class="auto-container">

				<!-- Content Column -->
				<div class="slider-two-content">
					<div class="slider-two_inner">
						<div class="slider-two_title">We are Business Solution</div>
						<h1 class="slider-two_heading">Prosper in this volatile <br> market funding.</h1>
						<div class="slider-two_text">We place you at the centre of international networks to <br> advance your strategic interests</div>
						<!-- Button Box -->
						<div class="slider-two_button-box">
							<a class="btn-style-two theme-btn btn-item" href="#">
								<div class="btn-wrap">
									<span class="text-one">Our Team <i class="fa-solid fa-arrow-right fa-fw"></i></span>
									<span class="text-two">Our Team <i class="fa-solid fa-arrow-right fa-fw"></i></span>
								</div>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</section>
<!-- Featured One -->
<section class="featured-one">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Feature Block One -->
			<div class="feature-block_one">
				<div class="feature-block_one-inner">
					<a class="overlay-link" href="service-detail.html"></a>
					<span class="color-layer"></span>
					<span class="feature-block_one-icon">
						<img src="~/Web/images/icons/feature-1.png" alt="" />
					</span>
					<h5 class="feature-block_one-title">UI/UX Design Services</h5>
				</div>
			</div>

			<!-- Feature Block One -->
			<div class="feature-block_one">
				<div class="feature-block_one-inner">
					<a class="overlay-link" href="service-detail.html"></a>
					<span class="color-layer"></span>
					<span class="feature-block_one-icon">
						<img src="~/Web/images/icons/feature-2.png" alt="" />
					</span>
					<h5 class="feature-block_one-title">Business Consultation</h5>
				</div>
			</div>

			<!-- Feature Block One -->
			<div class="feature-block_one">
				<div class="feature-block_one-inner">
					<a class="overlay-link" href="service-detail.html"></a>
					<span class="color-layer"></span>
					<span class="feature-block_one-icon">
						<img src="~/Web/images/icons/feature-3.png" alt="" />
					</span>
					<h5 class="feature-block_one-title">Website Development</h5>
				</div>
			</div>

			<!-- Feature Block One -->
			<div class="feature-block_one">
				<div class="feature-block_one-inner">
					<a class="overlay-link" href="service-detail.html"></a>
					<span class="color-layer"></span>
					<span class="feature-block_one-icon">
						<img src="~/Web/images/icons/feature-4.png" alt="" />
					</span>
					<h5 class="feature-block_one-title">Support Management</h5>
				</div>
			</div>

			<!-- Feature Block One -->
			<div class="feature-block_one">
				<div class="feature-block_one-inner">
					<a class="overlay-link" href="service-detail.html"></a>
					<span class="color-layer"></span>
					<span class="feature-block_one-icon">
						<img src="~/Web/images/icons/feature-5.png" alt="" />
					</span>
					<h5 class="feature-block_one-title">Market Research</h5>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Featured One -->
<!-- Clients One -->
<section class="clients-one">
	<div class="clients-one_pattern" style="background-image:url('/Web/images/background/3.jpg')"></div>
	<div class="auto-container">
		<div class="row clearfix">
			<!-- Title Column -->
			<div class="clients-one_title-column col-lg-4 col-md-12 col-sm-12">
				<div class="client-one_title">Join over +15,000 happy clients!</div>
			</div>
			<!-- Carousel Column -->
			<div class="clients-one_carousel-column col-lg-8 col-md-12 col-sm-12">
				<!-- Sponsors Carousel -->
				<ul class="sponsors-carousel-two owl-carousel owl-theme">
					<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="~/Web/images/clients/5.png" alt=""></a></figure></li>
					<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="~/Web/images/clients/6.png" alt=""></a></figure></li>
					<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="~/Web/images/clients/7.png" alt=""></a></figure></li>
					<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="~/Web/images/clients/8.png" alt=""></a></figure></li>
					<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="~/Web/images/clients/5.png" alt=""></a></figure></li>
					<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="~/Web/images/clients/6.png" alt=""></a></figure></li>
					<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="~/Web/images/clients/7.png" alt=""></a></figure></li>
					<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="~/Web/images/clients/8.png" alt=""></a></figure></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- End Clients One -->
<!-- About Two -->
<section class="about-two">
	<div class="about-two_pattern-two" style="background-image:url('/Web/images/background/pattern-13.png')"></div>
	<div class="auto-container">
		<div class="row clearfix">
			<!-- Content Column -->
			<div class="about-two_image-column col-lg-6 col-md-12 col-sm-12">
				<div class="about-two_pattern-one" style="background-image:url('/Web/images/background/pattern-12.png')"></div>
				<div class="about-two_image">
					<img src="~/Web/images/resource/about-2.jpg" alt="" />
					<!-- About One Detail -->
					<a class="about-two_play lightbox-video fa-solid fa-play fa-fw" href="https://www.youtube.com/watch?v=kxPCFljwJws">
						<i class="ripple"></i>
					</a>
				</div>
			</div>

			<!-- Content Column -->
			<div class="about-two_content col-lg-6 col-md-12 col-sm-12">
				<div class="about-two_content-inner">
					<div class="sec-title_two">
						<div class="sec-title_two-title">About Our Company</div>
						<h2 class="sec-title_two-heading">Choose <span>The Best</span> IT <br> Service Company</h2>
					</div>
					<div class="about-two_text">An IT firm or MSP who keeps your IT running smoothly at all times is like a plumber who fixes your pipes; that’s what they are supposed to do. Many IT firms struggle.</div>
					<div class="about-two_feature">
						<div class="row clearfix">

							<!-- About Two Block -->
							<div class="about-two_block col-lg-6 col-md-6 col-sm-6">
								<div class="about-two_block-inner">
									<span class="about-two_block-icon">
										<img src="~/Web/images/icons/about-1.png" alt="" />
									</span>
									<h6 class="about-two_block-heading">Moneyback <br> Gurentee</h6>
								</div>
							</div>

							<!-- About Two Block -->
							<div class="about-two_block col-lg-6 col-md-6 col-sm-6">
								<div class="about-two_block-inner">
									<span class="about-two_block-icon">
										<img src="~/Web/images/icons/about-2.png" alt="" />
									</span>
									<h6 class="about-two_block-heading">Technical <br> Support</h6>
								</div>
							</div>

						</div>
					</div>

					<div class="d-flex flex-wrap">
						<a class="btn-style-three theme-btn btn-item" href="#">
							<div class="btn-wrap">
								<span class="text-one">Contact Us <i class="fa-solid fa-arrow-right fa-fw"></i></span>
								<span class="text-two">Contact Us <i class="fa-solid fa-arrow-right fa-fw"></i></span>
							</div>
						</a>

						<!-- About Phone Box -->
						<div class="about-phone_box">
							<span class="about-phone_icon fa-solid fa-phone fa-fw"></span>
							Call for help <br>
							<a class="about-two_phone-number" href="tel:+91-124-3467-2345">91 124 3467 2345</a>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
</section>
<!-- End About Two -->
<!-- Services One -->
<section class="services-one">
	<div class="services-one_pattern-layer" style="background-image:url('/Web/images/background/pattern-14.png')"></div>
	<div class="auto-container">

		<!-- Sec Title -->
		<div class="sec-title_two centered">
			<div class="sec-title_two-title">~ Our Awesome Services ~</div>
			<h2 class="sec-title_two-heading">Choose <span>The Best</span> IT <br> Service Company</h2>
		</div>

		<div class="services-one_inner-coontainer">
			<div class="four-item-carousel owl-carousel owl-theme">

				<!-- Service Block One -->
				<div class="service-block_three">
					<div class="service-block_three-inner">
						<span class="service-block_three-icon"><img src="~/Web/images/icons/service-8.png" alt="" /></span>
						<h5 class="service-block_three-heading">UI/UX Design</h5>
						<div class="service-block_three-text">Our customers get solutions and business opportunities instead of just projects.</div>
						<div class="service-block_three-overlay">
							<div class="service-block_three-color-layer"></div>
							<span class="service-block_three-icon-two"><img src="~/Web/images/icons/service-8-1.png" alt="" /></span>
							<h5 class="service-block_three-heading alternate"><a href="service-detail.html">UI/UX Design</a></h5>
							<a class="service-block_three-learn" href="service-detail.html">Learn More</a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_three">
					<div class="service-block_three-inner">
						<span class="service-block_three-icon"><img src="~/Web/images/icons/service-9.png" alt="" /></span>
						<h5 class="service-block_three-heading">Business Planning</h5>
						<div class="service-block_three-text">Our customers get solutions and business opportunities instead of just projects.</div>
						<div class="service-block_three-overlay">
							<div class="service-block_three-color-layer"></div>
							<span class="service-block_three-icon-two"><img src="~/Web/images/icons/service-9-1.png" alt="" /></span>
							<h5 class="service-block_three-heading alternate"><a href="service-detail.html">Business Planning</a></h5>
							<a class="service-block_three-learn" href="service-detail.html">Learn More</a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_three">
					<div class="service-block_three-inner">
						<span class="service-block_three-icon"><img src="~/Web/images/icons/service-10.png" alt="" /></span>
						<h5 class="service-block_three-heading">Project Management</h5>
						<div class="service-block_three-text">Our customers get solutions and business opportunities instead of just projects.</div>
						<div class="service-block_three-overlay">
							<div class="service-block_three-color-layer"></div>
							<span class="service-block_three-icon-two"><img src="~/Web/images/icons/service-10-1.png" alt="" /></span>
							<h5 class="service-block_three-heading alternate"><a href="service-detail.html">Project Management</a></h5>
							<a class="service-block_three-learn" href="service-detail.html">Learn More</a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_three">
					<div class="service-block_three-inner">
						<span class="service-block_three-icon"><img src="~/Web/images/icons/service-11.png" alt="" /></span>
						<h5 class="service-block_three-heading">Cyber Security</h5>
						<div class="service-block_three-text">Our customers get solutions and business opportunities instead of just projects.</div>
						<div class="service-block_three-overlay">
							<div class="service-block_three-color-layer"></div>
							<span class="service-block_three-icon-two"><img src="~/Web/images/icons/service-11-1.png" alt="" /></span>
							<h5 class="service-block_three-heading alternate"><a href="service-detail.html">Cyber Security</a></h5>
							<a class="service-block_three-learn" href="service-detail.html">Learn More</a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_three">
					<div class="service-block_three-inner">
						<span class="service-block_three-icon"><img src="~/Web/images/icons/service-8.png" alt="" /></span>
						<h5 class="service-block_three-heading">UI/UX Design</h5>
						<div class="service-block_three-text">Our customers get solutions and business opportunities instead of just projects.</div>
						<div class="service-block_three-overlay">
							<div class="service-block_three-color-layer"></div>
							<span class="service-block_three-icon-two"><img src="~/Web/images/icons/service-8-1.png" alt="" /></span>
							<h5 class="service-block_three-heading alternate"><a href="service-detail.html">UI/UX Design</a></h5>
							<a class="service-block_three-learn" href="service-detail.html">Learn More</a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_three">
					<div class="service-block_three-inner">
						<span class="service-block_three-icon"><img src="~/Web/images/icons/service-9.png" alt="" /></span>
						<h5 class="service-block_three-heading">Business Planning</h5>
						<div class="service-block_three-text">Our customers get solutions and business opportunities instead of just projects.</div>
						<div class="service-block_three-overlay">
							<div class="service-block_three-color-layer"></div>
							<span class="service-block_three-icon-two"><img src="~/Web/images/icons/service-9-1.png" alt="" /></span>
							<h5 class="service-block_three-heading alternate"><a href="service-detail.html">Business Planning</a></h5>
							<a class="service-block_three-learn" href="service-detail.html">Learn More</a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_three">
					<div class="service-block_three-inner">
						<span class="service-block_three-icon"><img src="~/Web/images/icons/service-10.png" alt="" /></span>
						<h5 class="service-block_three-heading">Project Management</h5>
						<div class="service-block_three-text">Our customers get solutions and business opportunities instead of just projects.</div>
						<div class="service-block_three-overlay">
							<div class="service-block_three-color-layer"></div>
							<span class="service-block_three-icon-two"><img src="~/Web/images/icons/service-10-1.png" alt="" /></span>
							<h5 class="service-block_three-heading alternate"><a href="service-detail.html">Project Management</a></h5>
							<a class="service-block_three-learn" href="service-detail.html">Learn More</a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_three">
					<div class="service-block_three-inner">
						<span class="service-block_three-icon"><img src="~/Web/images/icons/service-11.png" alt="" /></span>
						<h5 class="service-block_three-heading">Cyber Security</h5>
						<div class="service-block_three-text">Our customers get solutions and business opportunities instead of just projects.</div>
						<div class="service-block_three-overlay">
							<div class="service-block_three-color-layer"></div>
							<span class="service-block_three-icon-two"><img src="~/Web/images/icons/service-11-1.png" alt="" /></span>
							<h5 class="service-block_three-heading alternate"><a href="service-detail.html">Cyber Security</a></h5>
							<a class="service-block_three-learn" href="service-detail.html">Learn More</a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_three">
					<div class="service-block_three-inner">
						<span class="service-block_three-icon"><img src="~/Web/images/icons/service-8.png" alt="" /></span>
						<h5 class="service-block_three-heading">UI/UX Design</h5>
						<div class="service-block_three-text">Our customers get solutions and business opportunities instead of just projects.</div>
						<div class="service-block_three-overlay">
							<div class="service-block_three-color-layer"></div>
							<span class="service-block_three-icon-two"><img src="~/Web/images/icons/service-8-1.png" alt="" /></span>
							<h5 class="service-block_three-heading alternate"><a href="service-detail.html">UI/UX Design</a></h5>
							<a class="service-block_three-learn" href="service-detail.html">Learn More</a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_three">
					<div class="service-block_three-inner">
						<span class="service-block_three-icon"><img src="~/Web/images/icons/service-9.png" alt="" /></span>
						<h5 class="service-block_three-heading">Business Planning</h5>
						<div class="service-block_three-text">Our customers get solutions and business opportunities instead of just projects.</div>
						<div class="service-block_three-overlay">
							<div class="service-block_three-color-layer"></div>
							<span class="service-block_three-icon-two"><img src="~/Web/images/icons/service-9-1.png" alt="" /></span>
							<h5 class="service-block_three-heading alternate"><a href="service-detail.html">Business Planning</a></h5>
							<a class="service-block_three-learn" href="service-detail.html">Learn More</a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_three">
					<div class="service-block_three-inner">
						<span class="service-block_three-icon"><img src="~/Web/images/icons/service-10.png" alt="" /></span>
						<h5 class="service-block_three-heading">Project Management</h5>
						<div class="service-block_three-text">Our customers get solutions and business opportunities instead of just projects.</div>
						<div class="service-block_three-overlay">
							<div class="service-block_three-color-layer"></div>
							<span class="service-block_three-icon-two"><img src="~/Web/images/icons/service-10-1.png" alt="" /></span>
							<h5 class="service-block_three-heading alternate"><a href="service-detail.html">Project Management</a></h5>
							<a class="service-block_three-learn" href="service-detail.html">Learn More</a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_three">
					<div class="service-block_three-inner">
						<span class="service-block_three-icon"><img src="~/Web/images/icons/service-11.png" alt="" /></span>
						<h5 class="service-block_three-heading">Cyber Security</h5>
						<div class="service-block_three-text">Our customers get solutions and business opportunities instead of just projects.</div>
						<div class="service-block_three-overlay">
							<div class="service-block_three-color-layer"></div>
							<span class="service-block_three-icon-two"><img src="~/Web/images/icons/service-11-1.png" alt="" /></span>
							<h5 class="service-block_three-heading alternate"><a href="service-detail.html">Cyber Security</a></h5>
							<a class="service-block_three-learn" href="service-detail.html">Learn More</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Services One -->
<!-- Case One -->
<section class="case-one">
	<div class="case-one_pattern-layer" style="background-image:url('/Web/images/background/pattern-16.png')"></div>
	<div class="case-one_pattern-layer-two" data-parallax='{"y" : -100}' style="background-image:url('/Web/images/background/pattern-17.png'/Web/)"></div>
	<div class="auto-container">

		<!-- Sec Title -->
		<div class="sec-title_two">
			<div class="sec-title_two-title">Our Case Studies ~</div>
			<h2 class="sec-title_two-heading">Technology Is <span>Transforming</span> <br> Every Industry Sector</h2>
		</div>

		<div class="case-one_inner-container">
			<div class="case-carousel owl-carousel owl-theme">

				<!-- Case Block -->
				<div class="case-block">
					<div class="case-block_inner">
						<div class="case-block_image">
							<img src="~/Web/images/resource/case-1.jpg" alt="" />
							<div class="case-one_overlay">
								<div class="case-one_overlay-content">
									<a href="~/Web/images/resource/case-1.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
								</div>
							</div>
						</div>
						<div class="case-block_lower-content">
							<h5 class="case-block_heading"><a href="service-detail.html">Custom Design Solutions</a></h5>
							<div class="case-block_location">4580 McKnight Rd, USA</div>
							<div class="case-block_text">Network Access has served as strategic IT partners for businesses of all sizes and sectors for decades, so we know that every for the organization has different IT needs. </div>
						</div>
					</div>
				</div>

				<!-- Case Block -->
				<div class="case-block">
					<div class="case-block_inner">
						<div class="case-block_image">
							<img src="~/Web/images/resource/case-2.jpg" alt="" />
							<div class="case-one_overlay">
								<div class="case-one_overlay-content">
									<a href="~/Web/images/resource/case-2.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
								</div>
							</div>
						</div>
						<div class="case-block_lower-content">
							<h5 class="case-block_heading"><a href="service-detail.html">Strategic Consulting</a></h5>
							<div class="case-block_location">4580 McKnight Rd, USA</div>
							<div class="case-block_text">Network Access has served as strategic IT partners for businesses of all sizes and sectors for decades, so we know that every for the organization has different IT needs. </div>
						</div>
					</div>
				</div>

				<!-- Case Block -->
				<div class="case-block">
					<div class="case-block_inner">
						<div class="case-block_image">
							<img src="~/Web/images/resource/case-3.jpg" alt="" />
							<div class="case-one_overlay">
								<div class="case-one_overlay-content">
									<a href="~/Web/images/resource/case-3.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
								</div>
							</div>
						</div>
						<div class="case-block_lower-content">
							<h5 class="case-block_heading"><a href="service-detail.html">Remote Control Support</a></h5>
							<div class="case-block_location">4580 McKnight Rd, USA</div>
							<div class="case-block_text">Network Access has served as strategic IT partners for businesses of all sizes and sectors for decades, so we know that every for the organization has different IT needs. </div>
						</div>
					</div>
				</div>

				<!-- Case Block -->
				<div class="case-block">
					<div class="case-block_inner">
						<div class="case-block_image">
							<img src="~/Web/images/resource/case-1.jpg" alt="" />
							<div class="case-one_overlay">
								<div class="case-one_overlay-content">
									<a href="~/Web/images/resource/case-1.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
								</div>
							</div>
						</div>
						<div class="case-block_lower-content">
							<h5 class="case-block_heading"><a href="service-detail.html">Custom Design Solutions</a></h5>
							<div class="case-block_location">4580 McKnight Rd, USA</div>
							<div class="case-block_text">Network Access has served as strategic IT partners for businesses of all sizes and sectors for decades, so we know that every for the organization has different IT needs. </div>
						</div>
					</div>
				</div>

				<!-- Case Block -->
				<div class="case-block">
					<div class="case-block_inner">
						<div class="case-block_image">
							<img src="~/Web/images/resource/case-2.jpg" alt="" />
							<div class="case-one_overlay">
								<div class="case-one_overlay-content">
									<a href="~/Web/images/resource/case-2.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
								</div>
							</div>
						</div>
						<div class="case-block_lower-content">
							<h5 class="case-block_heading"><a href="service-detail.html">Strategic Consulting</a></h5>
							<div class="case-block_location">4580 McKnight Rd, USA</div>
							<div class="case-block_text">Network Access has served as strategic IT partners for businesses of all sizes and sectors for decades, so we know that every for the organization has different IT needs. </div>
						</div>
					</div>
				</div>

				<!-- Case Block -->
				<div class="case-block">
					<div class="case-block_inner">
						<div class="case-block_image">
							<img src="~/Web/images/resource/case-3.jpg" alt="" />
							<div class="case-one_overlay">
								<div class="case-one_overlay-content">
									<a href="~/Web/images/resource/case-3.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
								</div>
							</div>
						</div>
						<div class="case-block_lower-content">
							<h5 class="case-block_heading"><a href="service-detail.html">Remote Control Support</a></h5>
							<div class="case-block_location">4580 McKnight Rd, USA</div>
							<div class="case-block_text">Network Access has served as strategic IT partners for businesses of all sizes and sectors for decades, so we know that every for the organization has different IT needs. </div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</section>
<!-- End Case One -->
<!-- Choose One -->
<section class="choose-one">
	<div class="choose-one_pattern-layer" style="background-image:url('/Web/images/background/pattern-19.png')"></div>
	<div class="auto-container">

		<!-- Sec Title -->
		<div class="sec-title_two centered">
			<div class="sec-title_two-title">~ Why choose Us? ~</div>
			<h2 class="sec-title_two-heading">We serve a wide <span>variety</span> <br> of industries</h2>
		</div>

		<!-- Choose Info Tabs -->
		<div class="choose-info-tabs">
			<!-- Choose Tabs -->
			<div class="choose-tabs tabs-box">

				<!-- Tab Btns -->
				<ul class="tab-btns tab-buttons clearfix">
					<li data-tab="#prod-mission" class="tab-btn active-btn">Company Mission</li>
					<li data-tab="#prod-winner" class="tab-btn">Awards Winner</li>
					<li data-tab="#prod-software" class="tab-btn">Using Softwares</li>
				</ul>

				<!-- Tabs Container -->
				<div class="tabs-content">

					<!-- Tab / Active Tab -->
					<div class="tab active-tab" id="prod-mission">
						<div class="row clearfix">
							<!-- Image Column -->
							<div class="choose-one_image-column col-lg-6 col-md-12 col-sm-12">
								<div class="choose-one_image-inner">
									<div class="choose-one_dotted-layer" style="background-image:url('/Web/images/background/pattern-18.png')"></div>
									<div class="choose-one_color-layer"></div>
									<div class="choose-one_image">
										<img src="~/Web/images/resource/choose.jpg" alt="" />
									</div>
								</div>
							</div>
							<!-- Content Column -->
							<div class="choose-one_content-column col-lg-6 col-md-12 col-sm-12">
								<div class="choose-one_content-inner">
									<div class="choose-one_title">Touching Lives Through Technology</div>
									<h2 class="choose-one_heading">Fingent's Four Pillars of Influence</h2>
									<div class="choose-one_text">We believe in four pillars of influence that drive our growth. This is ingrained in everything we do We use technology to create a better and smarter environment.</div>
									<div class="choose-one_button">
										<a class="btn-style-three theme-btn btn-item" href="#">
											<div class="btn-wrap">
												<span class="text-one">Contact Us <i class="fa-solid fa-arrow-right fa-fw"></i></span>
												<span class="text-two">Contact Us <i class="fa-solid fa-arrow-right fa-fw"></i></span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Tab -->
					<div class="tab" id="prod-winner">
						<div class="row clearfix">
							<!-- Image Column -->
							<div class="choose-one_image-column col-lg-6 col-md-12 col-sm-12">
								<div class="choose-one_image-inner">
									<div class="choose-one_dotted-layer" style="background-image:url('/Web/images/background/pattern-18.png')"></div>
									<div class="choose-one_color-layer"></div>
									<div class="choose-one_image">
										<img src="~/Web/images/resource/choose.jpg" alt="" />
									</div>
								</div>
							</div>
							<!-- Content Column -->
							<div class="choose-one_content-column col-lg-6 col-md-12 col-sm-12">
								<div class="choose-one_content-inner">
									<div class="choose-one_title">Touching Lives Through Technology</div>
									<h2 class="choose-one_heading">Fingent's Four Pillars of Influence</h2>
									<div class="choose-one_text">We believe in four pillars of influence that drive our growth. This is ingrained in everything we do We use technology to create a better and smarter environment.</div>
									<div class="choose-one_button">
										<a class="btn-style-three theme-btn btn-item" href="#">
											<div class="btn-wrap">
												<span class="text-one">Contact Us <i class="fa-solid fa-arrow-right fa-fw"></i></span>
												<span class="text-two">Contact Us <i class="fa-solid fa-arrow-right fa-fw"></i></span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Tab -->
					<div class="tab" id="prod-software">
						<div class="row clearfix">
							<!-- Image Column -->
							<div class="choose-one_image-column col-lg-6 col-md-12 col-sm-12">
								<div class="choose-one_image-inner">
									<div class="choose-one_dotted-layer" style="background-image:url('/Web/images/background/pattern-18.png')"></div>
									<div class="choose-one_color-layer"></div>
									<div class="choose-one_image">
										<img src="~/Web/images/resource/choose.jpg" alt="" />
									</div>
								</div>
							</div>
							<!-- Content Column -->
							<div class="choose-one_content-column col-lg-6 col-md-12 col-sm-12">
								<div class="choose-one_content-inner">
									<div class="choose-one_title">Touching Lives Through Technology</div>
									<h2 class="choose-one_heading">Fingent's Four Pillars of Influence</h2>
									<div class="choose-one_text">We believe in four pillars of influence that drive our growth. This is ingrained in everything we do We use technology to create a better and smarter environment.</div>
									<div class="choose-one_button">
										<a class="btn-style-three theme-btn btn-item" href="#">
											<div class="btn-wrap">
												<span class="text-one">Contact Us <i class="fa-solid fa-arrow-right fa-fw"></i></span>
												<span class="text-two">Contact Us <i class="fa-solid fa-arrow-right fa-fw"></i></span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>
</section>
<!-- End Choose One -->
<!-- Counter Two -->
<section class="counter-two">
	<div class="auto-container">
		<div class="counter-two_inner-container">
			<div class="counter-two_pattern-one" style="background-image:url('/Web/images/background/pattern-20.png')"></div>
			<div class="counter-two_pattern-two" style="background-image:url('/Web/images/background/pattern-21.png')"></div>
			<div class="counter-two_pattern-three" style="background-image:url('/Web/images/background/pattern-22.png')"></div>
			<div class="counter-two_image-layer" style="background-image:url('/Web/images/background/4.jpg')"></div>
			<h2 class="counter-two_heading">We develops strategic software solutions for businesses.</h2>

			<div class="row clearfix">

				<!-- Counter Column -->
				<div class="counter-two_block col-lg-3 col-md-6 col-sm-6">
					<div class="counter-two_counter"><span class="odometer" data-count="2003"></span></div>
					<div class="counter-two_text">Year of establishment</div>
				</div>

				<!-- Counter Column -->
				<div class="counter-two_block col-lg-3 col-md-6 col-sm-6">
					<div class="counter-two_counter"><span class="odometer" data-count="25"></span>k+</div>
					<div class="counter-two_text">of customers worldwide</div>
				</div>

				<!-- Counter Column -->
				<div class="counter-two_block col-lg-3 col-md-6 col-sm-6">
					<div class="counter-two_counter"><span class="odometer" data-count="14"></span>+</div>
					<div class="counter-two_text">Countries with active client base</div>
				</div>

				<!-- Counter Column -->
				<div class="counter-two_block col-lg-3 col-md-6 col-sm-6">
					<div class="counter-two_counter"><span class="odometer" data-count="5"></span></div>
					<div class="counter-two_text">Customer <br> rating</div>
				</div>

			</div>

			<div class="counter-two_text">You have better things to do than worry about IT for your small business. <a href="#">Let’s Discuss about Project.</a></div>

		</div>
	</div>
</section>
<!-- End Counter Two -->
<!-- Pricing One -->
<section class="pricing-one">
	<div class="pricing-one_pattern-layer" style="background-image:url('/Web/images/background/pattern-23.png')"></div>
	<div class="pricing-one_pattern-two" data-parallax='{"y" : -80}' style="background-image:url('/Web/images/background/pattern-24.png')"></div>
	<div class="auto-container">

		<!-- Sec Title -->
		<div class="sec-title_two centered">
			<div class="sec-title_two-title">~ Pricing Plan ~</div>
			<h2 class="sec-title_two-heading">Our <span>Awesome</span> Pricing Plans</h2>
		</div>

		<!-- Pricing Info Tabs -->
		<div class="pricing-info-tabs">
			<!--Pricing Tabs-->
			<div class="pricing-tabs tabs-box">

				<!--Tab Btns-->
				<ul class="tab-btns tab-buttons clearfix">
					<li data-tab="#package-monthly" class="tab-btn active-btn"><span class="circle"></span> Monthly</li>
					<li data-tab="#package-yearly" class="tab-btn"><span class="circle"></span> Yearly <span class="save">Save 20%</span></li>
				</ul>

				<!--Tabs Container-->
				<div class="tabs-content">

					<!--Tab / Active Tab-->
					<div class="tab active-tab" id="package-monthly">
						<div class="content">
							<div class="row clearfix">

								<!-- Price Block -->
								<div class="price-block col-lg-4 col-md-6 col-sm-12">
									<div class="inner-box">
										<!-- Title Box -->
										<div class="title-box">
											<h5>Basic Plan</h5>
											<div class="text">The argument in favor of using to <br> filler text goes something.</div>
										</div>
										<div class="price">$29 <span>/ monthly</span></div>
										<div class="lower-box">
											<ul class="price-list">
												<li>24/7 system monitoring</li>
												<li class="style-two">Security management</li>
												<li>Secure finance backup</li>
												<li>Remote support</li>
											</ul>
											<a href="#" class="theme-btn trial-btn">Get a free trial</a>
										</div>
									</div>
								</div>

								<!-- Price Block -->
								<div class="price-block col-lg-4 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="recomend">Recommended</div>
										<!-- Title Box -->
										<div class="title-box">
											<h5>Standard Plan</h5>
											<div class="text">The argument in favor of using to <br> filler text goes something.</div>
										</div>
										<div class="price">$49 <span>/ monthly</span></div>
										<div class="lower-box">
											<ul class="price-list">
												<li>24/7 system monitoring</li>
												<li class="style-two">Security management</li>
												<li>Secure finance backup</li>
												<li class="style-two">Remote support</li>
											</ul>
											<a href="#" class="theme-btn trial-btn">Get a free trial</a>
										</div>
									</div>
								</div>

								<!-- Price Block -->
								<div class="price-block col-lg-4 col-md-12 col-sm-12">
									<div class="inner-box">
										<!-- Title Box -->
										<div class="title-box">
											<h5>Extended Plan</h5>
											<div class="text">The argument in favor of using to <br> filler text goes something.</div>
										</div>
										<div class="price">$59 <span>/ monthly</span></div>
										<div class="lower-box">
											<ul class="price-list">
												<li class="style-two">24/7 system monitoring</li>
												<li>Security management</li>
												<li>Secure finance backup</li>
												<li class="style-two">Remote support</li>
											</ul>
											<a href="#" class="theme-btn trial-btn">Get a free trial</a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- Tab -->
					<div class="tab" id="package-yearly">
						<div class="content">

							<div class="row clearfix">

								<!-- Price Block -->
								<div class="price-block col-lg-4 col-md-6 col-sm-12">
									<div class="inner-box">
										<!-- Title Box -->
										<div class="title-box">
											<h5>Basic Plan</h5>
											<div class="text">The argument in favor of using to <br> filler text goes something.</div>
										</div>
										<div class="price">$79 <span>/ monthly</span></div>
										<div class="lower-box">
											<ul class="price-list">
												<li>24/7 system monitoring</li>
												<li>Security management</li>
												<li>Secure finance backup</li>
												<li class="style-two">Remote support</li>
											</ul>
											<a href="#" class="theme-btn trial-btn">Get a free trial</a>
										</div>
									</div>
								</div>

								<!-- Price Block -->
								<div class="price-block col-lg-4 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="recomend">Recommended</div>
										<!-- Title Box -->
										<div class="title-box">
											<h5>Standard Plan</h5>
											<div class="text">The argument in favor of using to <br> filler text goes something.</div>
										</div>
										<div class="price">$89 <span>/ monthly</span></div>
										<div class="lower-box">
											<ul class="price-list">
												<li>24/7 system monitoring</li>
												<li class="style-two">Security management</li>
												<li>Secure finance backup</li>
												<li>Remote support</li>
											</ul>
											<a href="#" class="theme-btn trial-btn">Get a free trial</a>
										</div>
									</div>
								</div>

								<!-- Price Block -->
								<div class="price-block col-lg-4 col-md-12 col-sm-12">
									<div class="inner-box">
										<!-- Title Box -->
										<div class="title-box">
											<h5>Extended Plan</h5>
											<div class="text">The argument in favor of using to <br> filler text goes something.</div>
										</div>
										<div class="price">$99 <span>/ monthly</span></div>
										<div class="lower-box">
											<ul class="price-list">
												<li class="style-two">24/7 system monitoring</li>
												<li>Security management</li>
												<li class="style-two">Secure finance backup</li>
												<li>Remote support</li>
											</ul>
											<a href="#" class="theme-btn trial-btn">Get a free trial</a>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</section>
<!-- End Pricing One -->
<!-- Testimonial Section -->
<section class="testimonial-section" style="background-image: url('/Web/images/background/5.jpg')">
	<div class="pattern-layer-one" style="background-image: url('/Web/images/background/pattern-25.png')"></div>
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Title Column -->
			<div class="title-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<!-- Sec Title -->
					<div class="sec-title_two">
						<div class="sec-title_two-title">Testimonials ~</div>
						<h2 class="sec-title_two-heading">Here's what our <br> <span>customers</span> have said.</h2>
						<div class="sec-title_two-text">
							Simplified IT is designed to help make sure you and your data is protected and your computer runs it's best. The
							network Access provides is valuable.
						</div>
					</div>
					<!-- Button Box -->
					<div class="button-box">
						<a class="btn-style-three theme-btn btn-item" href="#">
							<div class="btn-wrap">
								<span class="text-one">View More <i class="fa-solid fa-arrow-right fa-fw"></i></span>
								<span class="text-two">View More <i class="fa-solid fa-arrow-right fa-fw"></i></span>
							</div>
						</a>
					</div>
				</div>
			</div>

			<!-- Carousel Column -->
			<div class="carousel-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column" style="background-image: url('/Web/images/background/pattern-26.png')">
					<div class="authors-outer">
						<div class="author-one">
							<img src="~/Web/images/resource/author-2.jpg" alt="" />
						</div>
						<div class="author-two">
							<img src="~/Web/images/resource/author-3.jpg" alt="" />
						</div>
						<div class="author-three">
							<img src="~/Web/images/resource/author-4.jpg" alt="" />
						</div>
						<div class="author-four">
							<img src="~/Web/images/resource/author-5.jpg" alt="" />
						</div>
					</div>
					<div class="single-item-carousel owl-carousel owl-theme">

						<!-- Testimonial Block -->
						<div class="testimonial-block">
							<div class="inner-box">
								<div class="rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<div class="text">“I To helped the client achieve their goal of calling the attention of mobile network operators. The expert team was also able to develop an app with commendable UI/UX. The client appreciates their flexibility in terms.”</div>
							</div>
							<div class="author-box">
								<div class="box-inner">
									<span class="author-image">
										<img src="~/Web/images/resource/author-1.jpg" alt="" />
									</span>
									<h5>Arnold Burner</h5>
									<div class="designation">Senior Developer</div>
								</div>
							</div>
						</div>

						<!-- Testimonial Block -->
						<div class="testimonial-block">
							<div class="inner-box">
								<div class="rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<div class="text">“I To helped the client achieve their goal of calling the attention of mobile network operators. The expert team was also able to develop an app with commendable UI/UX. The client appreciates their flexibility in terms.”</div>
							</div>
							<div class="author-box">
								<div class="box-inner">
									<span class="author-image">
										<img src="~/Web/images/resource/author-1.jpg" alt="" />
									</span>
									<h5>Arnold Burner</h5>
									<div class="designation">Senior Developer</div>
								</div>
							</div>
						</div>

						<!-- Testimonial Block -->
						<div class="testimonial-block">
							<div class="inner-box">
								<div class="rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<div class="text">“I To helped the client achieve their goal of calling the attention of mobile network operators. The expert team was also able to develop an app with commendable UI/UX. The client appreciates their flexibility in terms.”</div>
							</div>
							<div class="author-box">
								<div class="box-inner">
									<span class="author-image">
										<img src="~/Web/images/resource/author-1.jpg" alt="" />
									</span>
									<h5>Arnold Burner</h5>
									<div class="designation">Senior Developer</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Testimonial Section -->
<!-- News One -->
<section class="news-two">
	<div class="auto-container">

		<!-- Sec Title -->
		<div class="sec-title_two">
			<div class="sec-title_two-title">Blog ~</div>
			<h2 class="sec-title_two-heading">Our Latest <span>Blog</span></h2>
		</div>

		<div class="news-carousel owl-carousel owl-theme">

			<!-- News Block -->
			<div class="news-block">
				<div class="inner-box">
					<div class="image">
						<a href="#"><img src="~/Web/images/resource/news-4.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">June 10, 2021</div>
						<h5><a href="#">Top Technology Used to Develop Mobile App.</a></h5>
						<div class="text">The time for sustainability is now while everyone is looking for companies ...</div>
						<div class="lower-box">
							<div class="d-flex justify-content-between align-items-center flex-wrap">
								<div class="author">
									<span class="author-image"><img src="~/Web/images/icons/news-icon.png" alt="" /></span>
									Rayan Colins
								</div>
								<a href="#" class="detail">More Details</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- News Block -->
			<div class="news-block">
				<div class="inner-box">
					<div class="image">
						<a href="#"><img src="~/Web/images/resource/news-5.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">June 10, 2021</div>
						<h5><a href="#">Five Takes on the Sustainability Revolution in business.</a></h5>
						<div class="text">The time for sustainability is now while everyone is looking for companies ...</div>
						<div class="lower-box">
							<div class="d-flex justify-content-between align-items-center flex-wrap">
								<div class="author">
									<span class="author-image"><img src="~/Web/images/icons/news-icon.png" alt="" /></span>
									Rayan Colins
								</div>
								<a href="#" class="detail">More Details</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- News Block -->
			<div class="news-block">
				<div class="inner-box">
					<div class="image">
						<a href="#"><img src="~/Web/images/resource/news-6.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">June 10, 2021</div>
						<h5><a href="#">Top 6 Tech Stacks That Reign Software Development.</a></h5>
						<div class="text">The time for sustainability is now while everyone is looking for companies ...</div>
						<div class="lower-box">
							<div class="d-flex justify-content-between align-items-center flex-wrap">
								<div class="author">
									<span class="author-image"><img src="~/Web/images/icons/news-icon.png" alt="" /></span>
									Rayan Colins
								</div>
								<a href="#" class="detail">More Details</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- News Block -->
			<div class="news-block">
				<div class="inner-box">
					<div class="image">
						<a href="#"><img src="~/Web/images/resource/news-4.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">June 10, 2021</div>
						<h5><a href="#">Top Technology Used to Develop Mobile App.</a></h5>
						<div class="text">The time for sustainability is now while everyone is looking for companies ...</div>
						<div class="lower-box">
							<div class="d-flex justify-content-between align-items-center flex-wrap">
								<div class="author">
									<span class="author-image"><img src="~/Web/images/icons/news-icon.png" alt="" /></span>
									Rayan Colins
								</div>
								<a href="#" class="detail">More Details</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- News Block -->
			<div class="news-block">
				<div class="inner-box">
					<div class="image">
						<a href="#"><img src="~/Web/images/resource/news-5.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">June 10, 2021</div>
						<h5><a href="#">Five Takes on the Sustainability Revolution in business.</a></h5>
						<div class="text">The time for sustainability is now while everyone is looking for companies ...</div>
						<div class="lower-box">
							<div class="d-flex justify-content-between align-items-center flex-wrap">
								<div class="author">
									<span class="author-image"><img src="~/Web/images/icons/news-icon.png" alt="" /></span>
									Rayan Colins
								</div>
								<a href="#" class="detail">More Details</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- News Block -->
			<div class="news-block">
				<div class="inner-box">
					<div class="image">
						<a href="#"><img src="~/Web/images/resource/news-6.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">June 10, 2021</div>
						<h5><a href="#">Top 6 Tech Stacks That Reign Software Development.</a></h5>
						<div class="text">The time for sustainability is now while everyone is looking for companies ...</div>
						<div class="lower-box">
							<div class="d-flex justify-content-between align-items-center flex-wrap">
								<div class="author">
									<span class="author-image"><img src="~/Web/images/icons/news-icon.png" alt="" /></span>
									Rayan Colins
								</div>
								<a href="#" class="detail">More Details</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- End News One -->
<!-- CTA One -->
<section class="cta-one">
	<div class="auto-container">
		<div class="d-flex justify-content-between align-items-center flex-wrap">
			<div class="left-box">
				<h3 class="cta-one_heading">Looking for the Best IT Business Solutions?</h3>
				<div class="cta-one_text">As a app web crawler expert, We will help to organize.</div>
			</div>
			<div class="right-box">
				<a class="cta-one_btn theme-btn" href="contact.html">get a quote</a>
			</div>
		</div>
	</div>
</section>
<!-- End CTA One -->

