@model ViewmMODeElMASTER
@{
    ViewData["Title"] = "Edit User Roles";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}




<h2>Edit User Roles</h2>

<form asp-action="AddEditRolesUser" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="SelectedRoleId" class="control-label">Roles</label>
        <select asp-for="SelectedRoleId" class="form-control" asp-items="Model.Roles1"></select>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

