
@{
    ViewData["Title"] = "ProductInfo";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@* ProductInfo.cshtml *@
@{
    ViewData["Title"] = "Product Info";
}

<h2>@ViewData["Title"]</h2>
@Html.Raw(ViewData["ProductInfo"])

