
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>IT-Firm IT Businees HTML-5 Template | Not Found</title>
	<!-- Stylesheets -->
	<link href="~/Web/css/bootstrap.css" rel="stylesheet">
	<link href="~/Web/css/style.css" rel="stylesheet">
	<link href="~/Web/css/responsive.css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<link rel="shortcut icon" href="~/Web/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="~/Web/images/favicon.png" type="image/x-icon">

	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>

	<div class="page-wrapper">

		<!-- Preloader -->
		<div class="preloader"></div>
	
		<section class="error-one">
			<div class="pattern-one" style="background-image:url('/Web/images/background/pattern-46.png')"></div>
			<div class="pattern-two" style="background-image:url('/Web/images/background/pattern-47.png')"></div>
			<div class="auto-container">
				<div class="image">
					<img src="~/Web/images/resource/error.jpg" alt="" />
				</div>
				<!-- Button Box -->
				<div class="button-box text-center">
					<a class="btn-style-one theme-btn btn-item" asp-area=""asp-controller="Home"asp-action="Index">
						<div class="btn-wrap">
							<span class="text-one">Go back home!</span>
							<span class="text-two">Go back home!</span>
						</div>
					</a>
				</div>
			</div>
		</section>


	</div>

	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

	<script src="~/Web/js/jquery.js"></script>
	<script src="~/Web/js/appear.js"></script>
	<script src="~/Web/js/owl.js"></script>
	<script src="~/Web/js/wow.js"></script>
	<script src="~/Web/js/odometer.js"></script>
	<script src="~/Web/js/mixitup.js"></script>
	<script src="~/Web/js/popper.min.js"></script>
	<script src="~/Web/js/parallax.min.js"></script>
	<script src="~/Web/js/bootstrap.min.js"></script>
	<script src="~/Web/js/tilt.jquery.min.js"></script>
	<script src="~/Web/js/magnific-popup.min.js"></script>

	<script src="~/Web/js/script.js"></script>

	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

</body>
</html>