@model ViewmMODeElMASTER
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Home</title>
	<link rel="stylesheet" href="~/Admin/assets/styles/style.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="~/Admin/assets/plugin/waves/waves.min.css">

	<!-- RTL -->
	<link rel="stylesheet" href="~/Admin/assets/styles/style-rtl.min.css">
</head>

<body>

	<div id="single-wrapper">
		<form class="frm-single" method="post" asp-area="Admin" asp-controller="Accounts" asp-action="ChangePassword1" enctype="multipart/form-data">
			<div class="inside">
				<div class="title"><strong>Ninja</strong>Admin</div>
				<!-- /.title -->
				<div class="frm-title">Register</div>
				<!-- /.frm-title -->

				<input type="hidden" asp-for="returnUrl" id="url">
				<input type="hidden" asp-for="sUser.Id">
				<div class="frm-input">
					<input asp-for="sUser.Email" type="email" placeholder="Email" class="frm-inp">
					<i class="fa fa-envelope frm-ico">
					</i>
					<span asp-validation-for="sUser.Email"></span>
				</div>

				<div class="frm-input">
					<input asp-for="sUser.Name" type="text" placeholder="full Name" class="frm-inp">
					<i class="fa fa-user-plus frm-ico">
					</i>
					<span asp-validation-for="sUser.Name"></span>
				</div>


				<!-- /.frm-input -->
				<div class="frm-input">
					<input asp-for="SChangePassword.NewPassword" type="NewRegister.password" placeholder="Password" class="frm-inp">
					<i class="fa fa-lock frm-ico">
					</i>
					<span asp-validation-for="SChangePassword.NewPassword"></span>
				</div>
				<div class="frm-input">
					<input asp-for="SChangePassword.ComparePassword" type="password" placeholder="Compare Password" class="frm-inp">
					<i class="fa fa-key frm-ico">
					</i>
					<span asp-validation-for="SChangePassword.ComparePassword"></span>

				</div>


				<!-- /.clearfix -->
				<button type="submit" class="frm-submit">Register<i class="fa fa-arrow-circle-right"></i></button>

				<!-- /.row -->

				<div class="frm-footer">NinjaAdmin © 2016.</div>
				<!-- /.footer -->
			</div>
			<!-- .inside -->
		</form>

	</div>
	<script src="~/Admin/assets/scripts/jquery.min.js"></script>
	<script src="~/Admin/assets/scripts/modernizr.min.js"></script>
	<script src="~/Admin/assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/Admin/assets/plugin/nprogress/nprogress.js"></script>
	<script src="~/Admin/assets/plugin/waves/waves.min.js"></script>

	<script src="~/Admin/assets/scripts/main.min.js"></script>




	<!-- Full Screen Plugin -->
	<script src="~/Admin/assets/plugin/fullscreen/jquery.fullscreen-min.js"></script>

	<!-- Dropify -->
	<script src="~/Admin/assets/plugin/dropify/js/dropify.min.js"></script>
	<script src="~/Admin/assets/scripts/fileUpload.demo.min.js"></script>

	<script src="~/Admin/assets/scripts/main.min.js"></script>




	<script src="~/Admin/assets/scripts/jquery.min.js"></script>
	<script src="~/Admin/assets/scripts/modernizr.min.js"></script>
	<script src="~/Admin/assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/Admin/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="~/Admin/assets/plugin/nprogress/nprogress.js"></script>
	<script src="~/Admin/assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="~/Admin/assets/plugin/waves/waves.min.js"></script>
	<!-- Full Screen Plugin -->
	<script src="~/Admin/assets/plugin/fullscreen/jquery.fullscreen-min.js"></script>

	<!-- Dropify -->
	<script src="~/Admin/assets/plugin/dropify/js/dropify.min.js"></script>
	<script src="~/Admin/assets/scripts/fileUpload.demo.min.js"></script>

	<script src="~/Admin/assets/scripts/main.min.js"></script>
	<script>
		$("#url").val(window.location.href);
	</script>
</body>
</html>